
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	transition: .3s;
}

.medio{
	width: 60%;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

a:active{
	color: #fff;
}

body{
	background-color: #fefefe; 	
}

nav{
	width: 100%;	
	background: #272822;
	color: #fefefe;	
	border-bottom: 1px solid #262524;
}

nav ul {
	height: 100px;	
	
}

nav ul li{	
	height: 100%;
	list-style: none;
	display: inline-block;
	line-height: 80px;
	padding: 10px;
	vertical-align: middle;
}


nav ul li a{
	color: #fefefe;	
}


nav .title{	
	font-size: 1.5em;
}

nav .setings{
	background: #4BB1E2;
	padding: 10px;	
	-webkit-box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 1);
	box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 1);
}

nav .setings:hover{
	background: #51c7ff;
}

nav .logout{
	background: #E83C40;
	padding: 10px;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 1);
	box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 1);
}

nav .logout:hover{
	background: #fc6467;
}

nav .chulo{
	float: right;
	margin-right: 20px;
}

nav #user-picture{
	padding-top: 10px;
}

nav .rounded{
	border-radius: 50% 50% 50% 50%;	
	border: solid 3px #fefefe;	
}

#referidos{
	height: 100px;
	background: url(../img/s.jpg) repeat-x;
	background-position: center;
	background-size: cover;
	padding: 50px;
	text-align: center;	
}

#referidos:hover{
	opacity: 0.8;
	cursor: pointer;
}

#referidos h3{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;	
	text-shadow: 4px 4px 0px rgba(50, 50, 50, 1);
	margin-bottom: 30px;
}

#referidos a{
	font-size: 1.2em;
	color: #ffffff;
	padding: 12px;
	background: #169DDE;
	text-transform: uppercase;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 1);
	box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 1);
}

#referidos a:hover{
	background: #51c7ff;
}

.portada{
	text-align: center;	
	padding: 100px;
	color: #fff;
	border-top: solid 1px #000;
}

.portada h1{
	font-size: 7em;
	font-weight: bolder;
	text-transform: uppercase;	
}

.portada h3{
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;	
}


.medio article{
	margin: 10px;
	padding: 30px;
	background-color: #eef1f3;
	
}

.awesome-title{
	background-color: #18AB80;
	margin: 20px 0px 50px 0px;
	padding: 20px;
	color: #fff;
	font-weight:bold;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 0.4);
}

section .login {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

section .login h1, p{
	text-align: center;	
}

section .login a{
	color: #1180f9;
}

section .login a:hover{
	text-decoration: underline;
}

section .login .facebook{
	margin-bottom: 10px;
}


form{
	margin: 5px auto 10px auto;
	display: block;
	width: 80%;	
}

form label{
	font-size: 0.9em;
}

form input{
	display: block;
	width: 95%;	
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #c1d0d9;
	margin: 5px auto 5px auto;
}


form input[type^="submit"]{
	background-color: #126bcb;
	color: #fff;
}

form input[type^="submit"]:hover{
	background-color: #1180f9;
	color: #fff;
}


.list-account {
	text-align: left;
}

.list-account:hover{
	background: #e5e5e5;
}

.list-account h1{
	margin-bottom: 10px;
}

.muestro-datos{
	display: block;
	width: 90%;	
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #c1d0d9;
	margin: 5px auto 5px auto;
	background-color: #fefefe;
}

.password{
	color:transparent;
    text-shadow:0px 0px 10px #000;
}

.password:hover , :focus{
	color:#000;
    text-shadow: none;
}

.datos{
	margin: 0 auto;
	width: 80%;
}


footer{
	clear: both;
	height: auto;
	padding: 20px;
}

footer p{
	color: #c0ccd1;
	text-align: center;
}

footer p a{
	color: #c0ccd1;
}




@media screen and (max-width:800px){


	#referidos{
		height: 400px;

	}
	
	#referidos h3{
		font-size: 4em;
	}

	#referidos a{
		font-size: 3em;
	}

	.medio{
		width: 100%;
	}

	form{	
		width: 90%;	
	}

	.awesome-title{
		font-size: 3em;
	}

	.muestro-datos{
		padding: 3px;
	}

	article{
		padding: 7px;
		font-size: 2em;
	}

	section .login {
		width: 100%;
		padding: 5px;
		margin: 5px;
	}

	.datos{
		width: 100%;
	}

}